.reg-form .password {
    gap: .5em;
}

.reg-form .password input {
    flex: 1 1 80%;
}

.reg-form .password svg {
    width: 2em;
    fill: orangered;
    cursor: pointer;
}

.reg-form .confirm-pass input {
    flex: 0 1 95%;
    margin-right: auto;
}

.reg-form .terms-and-btn {
    display: flex;
    justify-content: space-around;
}

.reg-form .terms-and-btn fieldset {
    display: flex;
    align-items: center;
}

.reg-form .terms-and-btn fieldset label{
    font-size: clamp(1rem, 1.4rem, 1.8rem);
    cursor: pointer;
}

.reg-form .terms-and-btn fieldset label:hover {
    text-decoration: underline;
    color: slateblue;
}

.reg-form .terms-and-btn fieldset .terms-and-conditions {
    flex-grow: 0;
    flex-basis: 0;
    padding: 0.3em 1em;
    outline: none;
    background: transparent;
}

.reg-form .terms-and-btn button {
    max-width: 50%;
    align-self: center;
    padding: 0.3em 2em;
    background: cornflowerblue;
    color: azure;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
}

.reg-form .terms-and-btn button:hover {
    background: rgb(87, 129, 207);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

form fieldset input {
    flex: 1 1 100%;
    padding: .3em 1em;
    border: none;
    border-radius: 1.4em;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
    outline: none;
}

form fieldset input:focus {
    background-color: whitesmoke;
}

.gender-select p {
    flex: 1 1 100%;
    text-align: center;
    margin: 0;
}

.gender-select .select-male {
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.gender-select .select-female {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}