<div class="container m-0">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <app-cover-picture
                 *ngIf="isUser" 
                 [picture] = "isOwner ? user.coverPicture : otherUserProfile.coverPicture" 
                 [profileType]="'user'"
                 [isOwner]="isOwner"
                 />
                 <app-cover-picture
                  *ngIf="isGroup" 
                  [picture] = "group.coverPicture"
                  [profileType]="'group'"
                  [isOwner]="isOwner"
                  />

                <app-profile-picture 
                *ngIf="isUser" 
                [picture] = "isOwner ? user.profilePicture: otherUserProfile.profilePicture" 
                [profileType]="'user'"
                [isOwner]="isOwner"
                />
                 <app-profile-picture 
                 *ngIf="isGroup" 
                 [picture] = "group.profilePicture" 
                 [profileType]="'group'"
                 [isOwner]="isOwner"
                 />

                <div class="profile-name bg-light">
                    <h2 *ngIf="isUser && isOwner" class="text-dark">{{user.username}}</h2>
                    <h2 *ngIf="isUser && !isOwner" class="text-dark">{{otherUserProfile.username}}</h2>
                    <h2 *ngIf="isGroup" class="text-dark">{{group.name}}</h2>
                </div>
                
                <div class="fb-profile-block-menu">
                    <div class="block-menu d-flex">
                        <ul *ngIf="isUser">
                            <li><a href="#" (click)="onSelectTab($event)" id="posts" [ngClass]="{'active': activeTab === 'posts'}">Posts</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="friends" [ngClass]="{'active': activeTab === 'friends'}">Friends</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="groups" [ngClass]="{'active': activeTab === 'groups'}">Groups</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="photos" [ngClass]="{'active': activeTab === 'photos'}">Photos</a></li>
                        </ul>
                        <ul *ngIf="isGroup">
                            <li><a href="#" (click)="onSelectTab($event)" id="posts" [ngClass]="{'active': activeTab === 'posts'}">Posts</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="members" [ngClass]="{'active': activeTab === 'members'}">Members</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="rules" [ngClass]="{'active': activeTab === 'rules'}">Rules</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="photos" [ngClass]="{'active': activeTab === 'photos'}">Photos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-profile-main 
    [user]="isOwner ? user : otherUserProfile" 
    [group]="group" 
    [profileType]="profileType" 
    [activeTab]="activeTab"
    [isOwner]="isOwner"
    [isMember]="isMember"
    />
</div>