<div class="container m-0">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <app-cover-picture *ngIf="isUser" [picture] = "user.coverPicture"/>
                 <app-cover-picture *ngIf="isGroup" [picture] = "group.coverPicture"/>
                <app-cover-picture *ngIf="isPage" [picture] = "page.coverPicture"/>

                <app-profile-picture *ngIf="isUser" [picture] = "user.profilePicture"/>
                 <app-profile-picture *ngIf="isGroup" [picture] = "group.profilePicture"/>
                <app-profile-picture *ngIf="isPage" [picture] = "page.profilePicture"/>

                <div class="profile-name bg-light">
                    <h2 *ngIf="isUser" class="text-dark">{{user.username}}</h2>
                    <h2 *ngIf="isGroup" class="text-dark">{{group.name}}</h2>
                    <h2 *ngIf="isPage" class="text-dark">{{page.name}}</h2>
                </div>
                
                <div class="fb-profile-block-menu">
                    <div class="block-menu d-flex">
                        <ul>
                            <li><a href="#" (click)="onSelectTab($event)" id="posts" [ngClass]="{'active': activeTab === 'posts'}">Posts</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="friends" [ngClass]="{'active': activeTab === 'friends'}">Friends</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="groups" [ngClass]="{'active': activeTab === 'groups'}">Groups</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="pages" [ngClass]="{'active': activeTab === 'pages'}">Pages</a></li>
                            <li><a href="#" (click)="onSelectTab($event)" id="photos" [ngClass]="{'active': activeTab === 'photos'}">Photos</a></li>
                        </ul>
                        <!-- <ul class="tools-list ms-auto">
                            <li><a class="edit-profile">Edit Profile</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-profile-main [user]="user"/> -->
</div>