.replies-form {
    display: flex;
    flex-direction: column;
}

.close {
    margin-left: auto;
    padding: 0.3em;
    width: 2em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.replies-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.replies-form form img {
    max-width: 20%;
    height: auto;
}

.replies-form .reply-top {
    display: flex;
    align-items: flex-start;
}

.reply-top img {
    max-width: 15%;
    height: auto;
    border-radius: 50%;
}

.reply-top textarea{
    max-width: 100%;
    max-height: 7em;
    height: 7em;
    width: 100%;
}

.replies-form .reply-bottom {
    display: flex;
    gap: 1em;
    position: relative;
}

.reply-bottom input {
    position: absolute;
    bottom: 0;
    left: 53%;
    width: 8%;
    z-index: 1;
    opacity: 0;
}

.reply-bottom svg {
    max-width: 2em;
    max-height: 3em;
    position: absolute;
    bottom: -5px;
    left: 55%;
    fill: orchid;
}

.reply-bottom button {
    flex: 0 1 33%;
    margin-left: auto;
    padding: 0.3em;
    border: none;
    border-radius: 0.6em;
    background: cornflowerblue;
    color: azure;
    font-weight: bold;
}

.replies-form {
    display: flex;
    flex-direction: column;
    flex: 0 1 70%;
    margin-left: auto;
    margin-top: 1em;
}

.reply-preview {
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: 2em;
}

.ul-replies {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

