.create-post-header {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    background: white;
    border-radius: 3em;
}

.create-post-header .main-container {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.create-post-header .main-container .img-container {
    flex: 0 1 16%;
    border-radius: 2.8em;
    overflow: hidden;
    max-height: 6em;
    display: flex;
    align-items: center;
}

.create-post-header .main-container .img-container img {
 width: 100%;
 height: 100%;
}

.create-post-header .main-container .post-text {
    flex: 1 1 33%;
}

.create-post-header .additionals-container {
    display: flex
}

.create-post-header .additionals-container .add-photo, .create-post-header .additionals-container .feelings {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-post-header .additionals-container .add-photo {
    position: relative;
}

.create-post-header .additionals-container .add-photo .upload-input {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(45%, 0%);
    opacity:0;
    cursor: pointer;
    width: 50%;
}

.create-post-header .additionals-container .add-photo svg, .additionals-container .feelings svg {
    width: 1.5em;
    cursor: pointer;
}

.create-post-header .additionals-container .add-photo svg {
    fill: orchid;
}

.additionals-container .feelings svg {
    fill: orange;
}