.post {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: white;
    gap: .3em;
    border-radius: .4em;
}

.post .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header .author-info {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.post-header .author-info .author-img {
    flex: 0 1 18%;
    border-radius: 6em;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-height: 4em;
}

.post-header .author-info .author-img img {
    width: 100%;
    height: auto;
}

.post-header .author-info .author-name-and-date {
    display: flex;
    flex-direction: column;
}

.post-header .option-btns {
    display: flex;
    gap: 1em;
    align-items: center;
}

.post-header .option-btns button {
    padding: 1em;
    border: none;
    border-radius: 3em;
    max-height: 3em;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.post-header .option-btns button:hover {
    cursor: pointer;
    background-color: #F0F0F0;
}

.post-header .option-btns button svg {
    width: 1em;
}


.post .post-description p {
    font-size: clamp(.8rem, 1rem, 1.8rem);;
}

.post .post-image {
    border-radius: 2em;
    overflow: hidden;
}

.post .post-image img {
    width: 100%;
    height: auto;
}

.post .post-stats {
    display: flex;
}

.post .post-stats .likes {
    display: flex;
    align-items: center;
    gap: .7em;
}

.post .post-stats .likes svg {
    width: 1em;
    fill: #2B8AE5;
}

.post .post-stats .comments-and-shares {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex: 0 1 73%;
    justify-content: flex-end;
}

.post .post-stats .comments-and-shares .comments, .post .post-stats .comments-and-shares .shares {
    display: flex; 
    gap: .7em;
    align-items: center;
    flex: 1 1 50%;
    justify-content: flex-end;
    cursor: pointer;
}
.post .post-stats .comments-and-shares .comments:hover, .post .post-stats .comments-and-shares .shares:hover {
    text-decoration: underline;
}

.post .post-stats .comments-and-shares .comments svg, .post .post-stats .comments-and-shares .shares svg {
    max-width: 1em;
}

.post .post-stats .comments-and-shares .comments svg {
    fill: orangered;
}

.post .post-stats .comments-and-shares .shares svg {
    fill: springgreen;
}

.post .line-divider {
    height: 0.2em;
    width: 100%;
    background: lightgray
}

.post .post-interactions {
    display: flex;
}

.post .post-interactions button {
    flex: 1 1 33%;
    background: transparent;
    cursor: pointer;
    border: none;
    border-radius: .6em;
    padding: .3em;
}

.post .post-interactions button:hover {
    background-color: #E5E5E5;
}

.comments-form {
    display: flex;
    flex-direction: column;
}

.comments-form p {
    margin-left: auto;
    padding: 0.3em;
    width: 2em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.comments-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.comments-form form img {
    max-width: 20%;
    height: auto;
}

.comments-form form .comment-top {
    display: flex;
    align-items: flex-start;
}

.comment-top img {
    max-width: 15%;
    height: auto;
    border-radius: 50%;
}

.comment-top textarea {
    max-width: 100%;
    max-height: 7em;
    height: 7em;
    width: 100%;
}

.comments-form form .comment-bottom {
    display: flex;
    gap: 1em;
    position: relative;
}

.comment-bottom input {
    position: absolute;
    bottom: 0;
    left: 53%;
    width: 8%;
    z-index: 1;
    opacity: 0;
}

.comment-bottom svg {
    max-width: 2em;
    max-height: 3em;
    position: absolute;
    bottom: -5px;
    left: 55%;
    fill: orchid;
}

.comment-bottom button {
    flex: 0 1 33%;
    margin-left: auto;
    padding: 0.3em;
    border: none;
    border-radius: 0.6em;
    background: cornflowerblue;
    color: azure;
    font-weight: bold;
}

.ul-comments {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.ul-comments li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ul-comments li .prof-pic {
    max-width: 15%;
    height: auto;
    border-radius: 50%;
}
.ul-comments li .comment-pic {
    max-width: 40%;
    height: auto;
}

.ul-comments li .comment-li-top {
    flex: 1 1 80%;
}

.ul-comments li .comment-li-bottom {
    margin-left: auto;
}
