.fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.private {
    background-color: red;
    color: azure;
    padding: .1em;
    border-radius: .5em;
}

.public {
    background-color: limegreen;
    color: azure;
    padding: .1em;
    border-radius: .5em;
}

fieldset {
    display: flex;
    gap: .5em;
}