<section class="text-wrapper">
    <article class="text-article">
            <h5>1. Lorem</h5>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora sequi molestias porro repellendus corrupti, assumenda nobis commodi. Suscipit sint ipsam dolorum labore nihil inventore maiores rerum, nobis vero debitis alias?
            </p>
    </article>
    <article class="text-article">
        <h5>2. Ipsum</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora sequi molestias porro repellendus corrupti, assumenda nobis commodi. Suscipit sint ipsam dolorum labore nihil inventore maiores rerum, nobis vero debitis alias?
        </p>
    </article>
    <article class="text-article">
        <h5>3. Dolor</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora sequi molestias porro repellendus corrupti, assumenda nobis commodi. Suscipit sint ipsam dolorum labore nihil inventore maiores rerum, nobis vero debitis alias?
        </p>
    </article>
    <article class="text-article">
        <h5>4. Sit</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora sequi molestias porro repellendus corrupti, assumenda nobis commodi. Suscipit sint ipsam dolorum labore nihil inventore maiores rerum, nobis vero debitis alias?
        </p>
    </article>
    <article class="text-article">
        <h5>5. Amet</h5>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora sequi molestias porro repellendus corrupti, assumenda nobis commodi. Suscipit sint ipsam dolorum labore nihil inventore maiores rerum, nobis vero debitis alias?
        </p>
    </article>
</section>
