.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cropper {
    text-align: center;
    flex: 1 1 50%;
}

.buttons {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.buttons button:first-child {
    flex: 0 1 20%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background: cornflowerblue;
    color: azure;
    cursor: pointer;
}

.buttons button:last-child {
    flex: 0 1 20%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background: indianred;
    color: azure;
    cursor: pointer;
}