<div class="wrapper">
    <image-cropper
        [imageChangedEvent]="imgCropperData.imgChangeEvent"
        [aspectRatio]="4/4"
        [maintainAspectRatio]="true"
        [resizeToWidth]="256"
        format="png"
        (imageCropped)="cropImg($event)"
        (imageLoaded)="imgLoaded()"
        (cropperReady)="initCropper()"
        (loadImageFailed)="imgFailed()"
        class="cropper"
    >

    </image-cropper>
    <div class="preview">
        <img [src]="croppedImagePreview" />
    </div>
    <div class="buttons">
        <button *ngIf="imgCropperData.uploadFor === 'profilePicture'" (click)="updateProfilePicture()">Confirm</button>
        <button *ngIf="imgCropperData.uploadFor === 'coverPicture'" (click)="updateCoverPicture()">Confirm</button>
        <button (click)="closeCropper()">Cancel</button>
    </div>
</div>
