<section class="contacts">
    <app-contacts-header></app-contacts-header>
    <div class="line-divider">

    </div>
    <div class="contacts-container">
        <ul class="contacts-list">
               <app-contacts-list-item></app-contacts-list-item>
               <app-contacts-list-item></app-contacts-list-item>
               <app-contacts-list-item></app-contacts-list-item>
               <app-contacts-list-item></app-contacts-list-item>
               <app-contacts-list-item></app-contacts-list-item> 
               <app-contacts-list-item></app-contacts-list-item>
        </ul>
    </div>
</section>
