<fieldset>
    <label for="name">What will be the name of your page ?</label>
    <input 
        type="text" 
        name="name" 
        id="name"
        placeholder="Example: Woodcraft, Programming, etc..."
        [value]="createDataPage.name" 
        (change)="onChange($event)"
    />
</fieldset>

<fieldset>
    <label for="description">What will be your page about ?</label>
    <textarea 
        name="description" 
        id="description" 
        (change)="onChange($event)"  
        [value]="createDataPage.description" 
    >

    </textarea>
</fieldset>

<fieldset>
    <p>Do you have address? (Optional - For businesses and companies)</p>
    <label for="city">City:</label>
    <input 
        type="text" 
        name="city" 
        id="city" 
        (change)="onChange($event)"  
        [value]="createDataPage.city" 
    />
    <label for="country">Country:</label>
    <input 
        type="text" 
        name="country" 
        id="country" 
        (change)="onChange($event)"  
        [value]="createDataPage.country" 
    />
</fieldset>

<button (click)="onCreate($event)">Create</button>
<button>Cancel</button>
