.shortcuts {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    gap: 2em;
    padding: 2em;
}

.shortcuts .line-divider {
    height: 0.2em;
    width: 100%;
    background: lightgray
}

.shortcuts .back-home {
    display: flex;
    gap: 1em;
    padding: .6em;
    cursor: pointer;
    border-radius: .6em;
    align-items: center;
}

.shortcuts .back-home p {
    font-size: clamp(1rem, 1.2rem, 1.8rem);
} 

.shortcuts .back-home svg {
    max-width: 2em;
    max-height: 2em;
    fill: slateblue;
}

.shortcuts .back-home:hover{
    background-color: lightgray;
}

.groups-list, .pages-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0;
}

.groups-list li, .pages-list li{
    padding: .6em;
    border-radius: .6em;
}

.groups-list li:hover, .pages-list li:hover {
    background-color: #dcdbdb;
}

.groups-list li a, .pages-list li a {
    display: flex;
    align-items: center;
    gap: 1em;
}

.groups-list li a img, .pages-list li a img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
}