<fieldset>
    <label for="name">What will be your group's name?</label>
    <input type="text" name="name" id="name" />
</fieldset>
<fieldset>
    <label for="isPrivate">Do you want your group to be visible on the site? (You would still be able to invite others)</label>
    <input type="checkbox" name="isPrivate" id="isPrivate" />
</fieldset>

<fieldset>
    <label for="description">What will be your group about ?</label>
    <textarea name="description" id="description">

    </textarea>
</fieldset>

<fieldset>
    <label for="rule">Add rules? (Optional)</label>
    <input type="text" name="rule" id="rule" />
    <button>
        +
    </button>
</fieldset>

