.shortcuts {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    gap: 2em;
    padding: 2em;
}

.shortcuts .line-divider {
    height: 0.2em;
    width: 100%;
    background: lightgray
}

.shortcuts .back-home {
    display: flex;
    gap: 1em;
    padding: .6em;
    cursor: pointer;
    border-radius: .6em;
}

.shortcuts .back-home p {
    font-size: clamp(1rem, 1.2rem, 1.8rem);
} 

.shortcuts .back-home svg {
    width: 1.8em;
    fill: slateblue;
}

.shortcuts .back-home:hover{
    background-color: lightgray;
}