.header-nav-authorized-inactive {
    display: none;
}
.header-nav-authorized {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 2em;
    bottom: -6.8em;
    background: black;
    border-radius: .6em;
}

.header-nav-authorized ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .2em;
    padding: 1em;
}

.header-nav-authorized ul li a {
    color: azure;
    text-shadow: 0 0 1em azure;
    cursor: pointer;
}