.header-nav {
    flex: 1 1 50%;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}


.header-nav ul li a {
    border-radius: .6em;
    cursor: pointer;
    padding: 0.8em;
    color: azure;
    text-shadow: 0 0 1em azure;
    cursor: pointer;
}

.header-nav ul li a:hover, .header-nav ul li a.active {
    background: rgb(70, 103, 164);
}
