<nav *ngIf="!authorized" class="header-nav">
    <ul>
        <li><a 
                href=""
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                >
                About
            </a>
        </li>
        <li><a
                routerLink="/contacts"
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                >
                Contacts
            </a>
        </li>
        <li (click)="onShowModal($event)" ><a href="#">Login/Register</a></li>
        <li><a  
                routerLink="/home" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                >
                Home
            </a>
        </li>
    </ul>
</nav>

<nav *ngIf="authorized" class="header-nav-authorized">
    <ul *ngIf="showProfOptions">
        <li><a routerLink="/profile">My Profile</a></li>
        <li><a href="#" (click)="onLogout()">Logout</a></li>
    </ul>
</nav>
    