<div class="profile-main">
    <div class="left-part">
        <div class="about">
            <p *ngIf="user.about.description">
                {{user.about.description}}
            </p>
            <div *ngIf="!user.about.description" class="about-unavailable">
                <p>You have no description added yet</p>
                <button class="edit-btn" (click)="onAddDescription()">Add Description</button>
            </div>
        </div>
        <div class="profile-info">
            <ul class="info-list">
                <li>
                    <p *ngIf="user.about.address">{{user.about.address}}</p>
                    <div *ngIf="!user.about.address" class="address-unavailable">
                        <p>You have no address added yet</p>
                        <button class="edit-btn" (click)="onAddAddress()">Add address</button>
                    </div>
                </li>
                <li>
                    <p *ngIf="user.about.workplace">{{user.about.workplace}}</p>
                    <div *ngIf="!user.about.workplace" class="workplace-unavailable">
                        <p>You have no workplace added yet</p>
                        <button class="edit-btn" (click)="onAddWorkplace()">Add workplace</button>
                    </div>
                </li>
                <li>
                    <div>
                    <p *ngIf="user.about.personalWebsite.url"><a>{{user.about.personalWebsite.url}}</a></p>
                    <img *ngIf="user.about.personalWebsite.preview" src={{user.about.personalWebsite.preview}} />
                    </div>

                    <div *ngIf="!user.about.personalWebsite.url" class="personalWebsite-unavailable">
                        <p>You have no personal website added yet</p>
                        <button class="edit-btn" (click)="onAddWebsite()">Add personal website</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-part">
        <app-create-post-header [profilePicture]="user.profilePicture"/>
        <div class="wall">
            <app-post-article />
        </div>
    </div>
</div>