.profile-main {
    display: flex;
    gap: 1em;
    margin-top: .6em;
}

.left-part {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.right-part {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about {
    background: white;
    border-radius: .6em;
}

.about > div p {
    padding: 1em;
    flex: 1 1 100%;
}

.about .about-unavailable{
    display:  flex;
    align-items: center;
    padding: 1em;
}

.about .about-unavailable > p {
    flex: 1 1 100%;
}
.about > .about-unavailable > button {
    flex: 1 1 30%;
    padding: .3em 1em;
    border: none;
    outline: none;
    color: azure;
    background-color: cornflowerblue;
    border-radius: .7em;
}

.info-list {
    background: white;
    border-radius: .6em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0;
}

.info-list li {

}

.info-list li > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info-list li > div p{
    flex: 1 1 70%;
    padding: 1em;
}

.info-list li > div button{
    flex: 1 1 30%;
    padding: .3em 1em;
    border: none;
    outline: none;
    color: azure;
    background-color: cornflowerblue;
    border-radius: .7em;
}

.edit-btn {
    transition: ease-in-out .2s;
    cursor: pointer;
}

.about div .edit-btn:hover {
    background-color: azure;
    color: cornflowerblue;
}

.info-list li div .edit-btn:hover {
    background-color: azure;
    color: cornflowerblue;
}

.info-list li:last-child {
    max-width: 100%;
    max-height: 20em;
    width: 100%;
}

.info-list li:last-child div div:last-child p {
    padding: 0;
}

.info-list li:last-child div div:last-child {
    padding: 1em;
}

.info-list li:last-child img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 10em;
}

.info-header {
    display: flex;
    min-width: 100%;
    align-items: center;
    padding: 0.3em 1em;
    border-radius: 0.6em 0.6em 0 0;
    background-color: cornflowerblue;
    gap: 1em;
}

.info-header svg {
    max-width: 1.5em;
    fill: azure;
}

.info-header h5 {
    color: azure;
    flex: 1 1 90%;
}