.contacts {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.contacts .contacts-header {
    display: flex;
}

.contacts-header h5, .contacts-header .contacts-search {
    flex: 1 1 30%;
}

.contacts .line-divider {
    height: 0.2em;
    width: 100%;
    background: lightgray
}

.contacts .contacts-container {
    max-height: 30em;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contacts-container .contacts-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contacts-container .contacts-list li {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contacts .contacts-container .contacts-list li .contact-img {
    flex: 0 1 10%;
    max-height: 2em;
    border-radius: 3em;
    overflow: hidden;
}

.contacts .contacts-container .contacts-list li .contact-img img {
    width: 100%;
    height: 100%;
}
