.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3em 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.action-chooser {
    display: flex;
    gap: 0.4em;
}

.action-chooser .action-divider {
    flex: 1 1 30%;
    background: lightgray;
    align-self: stretch;
    width: 0.2em;
}

form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

form fieldset input {
    flex: 1 1 100%;
    padding: .3em 1em;
    border: none;
    border-radius: 1.4em;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
    outline: none;
}

form fieldset input:focus {
    background-color: whitesmoke;
}

.reg-form .password {
    gap: .5em;
}

.reg-form .password input {
    flex: 1 1 80%;
}

.reg-form .password svg {
    width: 2em;
    fill: orangered;
    cursor: pointer;
}

.reg-form .confirm-pass input {
    flex: 0 1 95%;
    margin-right: auto;
}

.reg-form .terms-and-btn {
    display: flex;
    justify-content: space-around;
}

.reg-form .terms-and-btn fieldset {
    display: flex;
    align-items: center;
}

.reg-form .terms-and-btn fieldset label{
    font-size: clamp(1rem, 1.4rem, 1.8rem);
    cursor: pointer;
}

.reg-form .terms-and-btn fieldset label:hover {
    text-decoration: underline;
    color: slateblue;
}

.reg-form .terms-and-btn fieldset .terms-and-conditions {
    flex-grow: 0;
    flex-basis: 0;
    padding: 0.3em 1em;
    outline: none;
    background: transparent;
}

.log-form button, .reg-form .terms-and-btn button {
    max-width: 50%;
    align-self: center;
    padding: 0.3em 2em;
    background: cornflowerblue;
    color: azure;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
}

.log-form button:hover, .reg-form .terms-and-btn button:hover {
    background: rgb(87, 129, 207);
}

.action-chooser span, form fieldset label {
    font-size: clamp(1rem, 1.8rem, 2.3rem);
    padding: .5em;
}

.action-chooser span.active {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: .4em;
}

.action-chooser span:hover {
 background-color: whitesmoke;
 cursor: pointer;
 border-radius: .4em;
}